<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<button
  type="file"
  name="files[]"
  accept=".xlsx"
  multiple
  id="jsonFile"
  (click)="openFile($event)"
>
  Open Excel
</button>
<button (click)="generateExcel()">Generate Excel</button>
<input type="file" (change)="openFile($event)" />
<app-table [fieldArray]="fieldList"></app-table>
